.blackcard
{
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: auto;
  font-weight: bold;
  height: 160px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
  width: 160px;
}
.gameleft 
{
  padding: 0px;
}
