.clearleft {
  clear: left;
  padding: 1px;
} 
.floatleft {
  float: left;
} 
.inline {
  display: inline;
} 
.inlineblock {
  display: inline-block;
} 
.loginseparator {
  margin-right: 5px;
  padding-right: 5px;
} 
.rightborder {
  border-right-style: groove;
  border-width: 2px;
} 
.rightalign {
  text-align: right;
} 
.signdescription {
  //text-align: left;
} 
.vertical {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: 100%;
  width: 0px;
} 
.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 100px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
