.center
  h1 
    b
      u About us
  h3 San Francisco State University
  h3 Internet Application Design and Development CSC 667/867 Section 01 Fall2016

  h2.aboutteam
    b
      u Team 8
  .aboutmembers
    p Arjun Patel
    p Zi Liang Zhen
    p Elric Dang
    p Peter Chau

  include footer.pug
