b.formhead Chat
.chatwindow.barstyle
  ul#chat.well.well-lg.chatbg
  form#chatForm.form-inline.buttonborder
    .form-group
      input#m.form-control.chat(autocomplete="off")
    button.btn.btn-secondary(type="submit") send
