.row
  .col-sm-12
    label
      b.formhead Chat
.row
  .col-sm-12
    .chatwindow.barstyle
      ul#chat.well.well-lg.chatbg
      form#chatForm.form-inline.buttonborder
        .form-group
          input#m.form-control.chat.widthfull(autocomplete="off")
        .form-group
          button.btn.btn-secondary(type="submit") send
