.row.col-xs-12
button.card.col-xs-6
  b Card 1 
button.card.col-xs-6
  b Card 2
.row.col-xs-12
button.card.col-xs-6
  b Card 3 
button.card.col-xs-6
  b Card 4
.row.col-xs-12
button.card.col-xs-6
  b Card 5 
button.card.col-xs-6
  b Card 6
