table.table.table-hover.cardselect
  thead
    tr
      th Rank 
      th Name 
      th Score 
  tbody
    tr
      td#playerrank1 
      td#playername1 
      td#playerscore1 
    tr
      td#playerrank2 
      td#playername2 
      td#playerscore2 
    tr
      td#playerrank3 
      td#playername3 
      td#playerscore3 
    tr
      td#playerrank4 
      td#playername4 
      td#playerscore4 
