.col-xs-12.row
  button#hand1.card.col-xs-1
    b Hand Card 1
  button#hand2.card.col-xs-1
    b Hand Card 2
  button#hand3.card.col-xs-1
    b Hand Card 3
  button#hand4.card.col-xs-1
    b Hand Card 4 
  button#hand5.card.col-xs-1
    b Hand Card 5
  button#hand6.card.col-xs-1
    b Hand Card 6 
  button#hand7.card.col-xs-1
    b Hand Card 7
  button#hand8.card.col-xs-1
    b Hand Card 8 
  button#hand9.card.col-xs-1
    b Hand Card 9
  button#hand10.card.col-xs-1
    b Hand Card 10
