.col-xs-12.row
  button.card.col-xs-1
    b Hand Card 1
  button.card.col-xs-1
    b Hand Card 2
  button.card.col-xs-1
    b Hand Card 3
  button.card.col-xs-1
    b Hand Card 4 
  button.card.col-xs-1
    b Hand Card 5
  button.card.col-xs-1
    b Hand Card 6 
  button.card.col-xs-1
    b Hand Card 7
  button.card.col-xs-1
    b Hand Card 8 
  button.card.col-xs-1
    b Hand Card 9
  button.card.col-xs-1
    b Hand Card 10
