doctype html
html
  head
    title Lobby
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheets/stylesheet.css")

  body.backgroundset
    .col-sm-12.barstyle.bgstyle.borderstyle.noborderradius
      ul.nav.nav-pills.col-sm-12
        li.active
          a(data-toggle="tab" href="#lobby") Home
        li
          a(data-toggle="tab" href="#leaderboard") Leaderboard
        li
          a(data-toggle="tab" href="#rules") Rules
        li
          a(data-toggle="tab" href="#about") About
        li.nav.navbar-right
          a.logout(data-toggle="tab" href="logout" name="logout" onclick="location.href='lobby/logOut'") Log Out

    .container.widthfull.noborder

      .row.col-sm-12.noborder
        .tab-content.paddingtop.col-sm-9
          #lobby.tab-pane.active
            include rooms.pug

          #leaderboard.col-sm-12.tab-pane
            .row
              .col-sm-2
              .col-sm-8
                include leaderboard.pug

          #rules.col-sm-12.tab-pane.noborder
            include rules.pug

          #about.tab-pane
            include about.pug

        .col-sm-3
          include chat.pug

      script(src="/socket.io/socket.io.js")
      script(src="/javascripts/lobbyChat.js" username=username LOBBY_CHAT=LOBBY_CHAT)
