doctype html
html
  head
    title Lobby
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheets/stylesheet.css")

  body.backgroundset
    .col-xs-12.barstyle.bgstyle.borderstyle
      ul.nav.nav-pills.col-xs-12
        li.active
          a(data-toggle="tab" href="#lobby") Home
        li
          a(data-toggle="tab" href="#leaderboard") Leaderboard
        li
          a(data-toggle="tab" href="#rules") Rules
        li
          a(data-toggle="tab" href="#about") About
        li.nav.navbar-right
          a.logout(data-toggle="tab" href="logout" name="logout" onclick="location.href='lobby/logOut'") Log Out

    .container.widthfull

      .row.col-xs-12
        .tab-content.paddingtop.col-xs-9
          .tab-pane.active#lobby
            include createroom.pug

          .col-xs-5.tab-pane(id="leaderboard")
            include leaderboard.pug

          .tab-pane(id="rules")
            include rules.pug

          .tab-pane(id="about")
            include about.pug

        .col-xs-3
          include chat.pug

      script(src="/socket.io/socket.io.js")
      script(src="/javascripts/lobbyChat.js" username=username LOBBY_CHAT=LOBBY_CHAT)
