form.col-xs-6(action="/register" method="post")
  div.row.form-group.col-xs-12.formcenter
    label.formhead 
      u Register 
  div.row.form-group.col-xs-12
    div.col-xs-3
      label.col-form-label Username: 
    div.col-xs-9
      input.form-control(type="text" name="username")
  div.row.form-group.col-xs-12
    div.col-xs-3
      label.col-form-label Email: 
    div.col-xs-9
      input.form-control(type="email" name="email")
  div.row.form-group.col-xs-12
    div.col-xs-3
      label.col-form-label Password:
    div.col-xs-9
      input.form-control(type="password" name="password")
  div.row.form-group.col-xs-12
    div.col-xs-3
    button.col-xs-6.buttonstyle.whitetext(type="submit") Register
    div.col-xs-3
