form.col-xs-6(action="/login" method="post")
  .row.form-group.col-xs-12.formcenter
    label.formhead 
      u Login 
  .row.form-group.col-xs-12
    .col-xs-3
      label.col-form-label Email: 
    .col-xs-9
      input.form-control(type="email" name="email")
  .row.form-group.col-xs-12
    .col-xs-3
      label.col-form-label Password:
    .col-xs-9
      input.form-control(type="password" name="password")
  .row.form-group.col-xs-12
    .col-xs-3
    button.col-xs-6.buttonstyle.whitetext(type="submit") Log in
    .col-xs-3
