form.col-sm-6(action="/login" method="post")
  .row.form-group.col-sm-12.center
    label.formhead 
      u Login 
  .row.form-group.col-sm-12
    .col-sm-3
      label.col-form-label Email: 
    .col-sm-9
      input.form-control(type="email" name="email")
  .row.form-group.col-sm-12
    .col-sm-3
      label.col-form-label Password:
    .col-sm-9
      input.form-control(type="password" name="password")
  .row.form-group.col-sm-12
      input.form-control.noshow(type="password")
  .row.form-group.col-sm-12
    .col-sm-3
    .col-sm-9
      button.form-control.buttonstyle.whitetext(type="submit") Log in
