doctype html
html
  head
    link(rel="stylesheet" href="stylesheet.css")

  body
    button(class="card floatleft") Card 1 
    button(class="card inlineblock") Card 2
    div
    button(class="card floatleft") Card 3
    button(class="card inlineblock") Card 4
  div
    button(class="card floatleft") Card 5 
    button(class="card inlineblock") Card 6
