doctype html
html
  head
    link(rel="stylesheet" href="stylesheet.css")

  body
    div(class="floatleft")
      form(action="" method="post" class="rightborder loginseparator")
        table
          tr(class="signdescription")
            th Register 
          tr 
            td
              form Email: 
            td
              input(type="email" name="registeremail")
          tr
            td
              form Password: 
            td
              input(type="password" name="registerpassword")
          tr
            td
            td(class="rightalign")
              div
                button(type="submit") Register

    div(class="floatleft")
      form(action="" method="post")
        table
          tr(class="signdescription")
            th Login
          tr
            td
              form Email: 
            td
              input(type="email" name="loginemail")
          tr
            td
              form Password: 
            td
              input(type="password" name="loginpassword")
          tr
            td
            td(class="rightalign")
              div
                button(type="submit") Log in
