.aboutmembers
{
  font-size: 20px;
}
.aboutteam
{
  font-size: 32px;
}
.bgstyle
{
  background-color: #333333;
  width:100%;
}
.backgroundset
{
  background: #cccccc;
}
.bottom
{
  float: bottom;
}
.buttonborder
{
  margin: 4px;
}
.buttonstyle 
{
  background-color: #008CBA;
  border-style: none;
  height: 40px;
}
.card 
{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 100px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
.center 
{
  text-align: center;
}
.clearleft 
{
  clear: left;
  padding: 1px;
} 
.displayblock 
{
  display: block;
}
.floatleft 
{
  float: left;
} 
.formcenter 
{
  text-align: center;
}
.formhead 
{
  font-size: 24px;
}
.gameroom 
{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 140px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
  width: 140px;
}
.image
{
  display: block;
  margin: auto;
  max-height: 220px;
  max-width: 220px;
}
.inline 
{
  display: inline;
} 
.inlineblock 
{
  display: inline-block;
} 
.loginseparator 
{
  margin-right: 5px;
  padding-right: 5px;
} 
.paddingttop 
{
  margin-bottom: 50px;
}
.rightborder 
{
  border-right-style: groove;
  border-width: 2px;
} 
.rightalign 
{
  float: right;
  text-align: right;
} 
.signdescription 
{
  //text-align: left;
} 
.vertical 
{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: 100%;
  width: 0px;
} 
.whitetext 
{
  color: white;
  font-weight: bold;
}
.widthhalf 
{
  margin:auto;
  width:50%;
}
.widthfull 
{
  width:100%;
}
